
/* Experience Page CSS */

  nav ul li a {
    text-decoration: none;
  }

  .expLink {
    width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
  }

  .expLink .expLogo {
    width: 350px;
    display: block;
    box-shadow: 4px 8px #f2849e;
  }
