
#blackJackArticle {
  color: grey;
}

#blackJackArticle:hover {
  color: white;
}

.githubLink:hover, .devpostLink:hover {
  text-decoration: none;
}

.cardTitle {
  color: #FFFFFF;
}

.modal-body {
  font-size: 14px;
}

.modal-title {
  font-size: 28px;
}
